//Bootstrap 3.3.1
@import "bootstrap/bootstrap.less";

//FontAwesome 4.2.0
@import "fontawesome/font-awesome.less";

//Add-ons
@import "add-ons/bootstrap-modifications.less";
@import "add-ons/mobile-menu.less";
@import "add-ons/swipebox.less";

//Extra Variables
@wrap-bg: #fff;
@brand-primary: #1589FF;

@padding-xl: 80px;
@padding-lg: 60px;
@padding-md: 40px;
@padding-sm: 20px;

body{background-color: #222;}
.whitebg{padding: 0px 20px; background-color: #FFF;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
/***************************
	BASE
***************************/


/***************************
	HEADER
***************************/
header{ background-color: rgba(0, 0, 0, 0.7); color: #FFF;
	.nav>li>a{color: #FFF; transition: 300ms; &:hover{background-color: fade(@brand-primary, 30%); transition: 300ms; color: @brand-primary;}}		
	.menu-button{ background: none; border: none; padding: 15px 10px; &:hover{background-color: fade(@brand-primary, 30%); transition: 300ms; color: @brand-primary;}}
}
/***************************
	CONTENT
***************************/
.title{margin: 0px;}

.wrap-content{
	thead{background-color: #FFF;}
	.table-striped>tbody>tr:nth-of-type(even){background-color: #FFF;}
	th.header {background-image: url("../images/bg.gif");  cursor: pointer;  font-weight: bold;  background-repeat: no-repeat;  background-position: center left;  padding-left: 20px; margin-left: -1px;  
		&.headerSortUp { background-image: url("../images/asc.gif"); }
		&.headerSortDown { background-image: url("../images/desc.gif"); }
	}
	.add_klant{position: fixed; right: 50px; bottom: 50px; 
		button{ background: none; border: none;}
		a i.fa, button i.fa{background-color: #1589ff; color: #FFF; font-size: 32px; border-radius: 999px; padding: 16px 18px 14px 19px; transition: 300ms; transform-origin: center; &:hover{transform: rotate(90deg); transition: 300ms;}}
	}
	input#search{margin-top: 5px;}
	.nav-tabs>li{
		a{ background-color: @brand-primary; color: #FFF;}
		&.active a{background-color: #FFF; color: #222;}
	}
	.display_none{display: none;}
	.worth{text-align: center;}
}
/***************************
	LOGIN
***************************/
.card{ margin-top: 200px; border-radius: 4px; background-color: #f5f5f5; padding: 20px; box-shadow: 0px 0px 30px #222;
	.btn.btn-default{width: 100%; background-color: #1589FF; border: 0px;  border-radius: 0px; color: #FFF; transition: 300ms; &:hover{background-color: #222; transistion: 300ms;}}
}
/***************************
	FOOTER
***************************/
footer{}

/***************************
	RESPONSIVE
***************************/
.paddingxl{padding-bottom: @padding-xl;}
.paddinglg{padding-bottom: @padding-lg;}
.paddingmd{padding-bottom: @padding-md;}
.paddingsm{padding-bottom: @padding-sm;}
/* Responsive Max MD */
@media (max-width: @screen-md-max) {}
	
/* Responsive Max SM */
@media (max-width: @screen-sm-max) {
	.paddingxl{padding-bottom: calc(@padding-xl/2);}
	.paddinglg{padding-bottom: calc(@padding-lg/2);}
	.paddingmd{padding-bottom: calc(@padding-md/2);}
	.paddingsm{padding-bottom: calc(@padding-sm/2);}
}

/* Responsive Max XS */
@media (max-width: @screen-xs-max) {
	.paddingxl{padding-bottom: calc(@padding-xl/4);}
	.paddinglg{padding-bottom: calc(@padding-lg/4);}
	.paddingmd{padding-bottom: calc(@padding-md/4);}
	.paddingsm{padding-bottom: calc(@padding-sm/4);}
}


/***************************
	PRINT
***************************/

@media print {}

/* ***************************************************
	Comments
*************************************************** */

@comment-padding: 10px;
.media.comment { margin-top:@comment-padding; margin-bottom:@comment-padding; border-left:2px dotted #eee; padding-left:floor(@grid-gutter-width/2);
	@media (max-width: @screen-md-max) { padding-left:floor(@grid-gutter-width-md/2); }
	@media (max-width: @screen-sm-max) { padding-left:floor(@grid-gutter-width-sm/2); }
	@media (max-width: @screen-xs-max) { padding-left:floor(@grid-gutter-width-xs/2); }
	h4 { font-weight:bold; }
	.comment-actions {
		.comment-edit-link { margin-right:5px; }
	}
}
/* ***************************************************
	Content
*************************************************** */

main.main {
	p { margin-bottom:21px; }
}

/* Styles */

#wrap {
	&.framed { width:@container-lg; margin:0 auto; background-color:@wrap-bg;
		@media (max-width: @screen-md-max) { width:@container-md; }
		@media (max-width: @screen-sm-max) { width:@container-sm; }
		@media (max-width: @screen-xs-max) { width:100%; }
	}
}

/* ***************************************************
	Print Template
*************************************************** */

@media print {
	a[href]:after { content:none !important; }
	.header-mobile { display:none; }
	.morph-main-wrapper { display:none; }
	.comments-form { display:none; }
}