/* ********************************
	Mobile Menu
******************************** */

// Basics of a navbar
@mobile-navbar-height:				@navbar-height;
@mobile-navbar-default-color:		@navbar-default-color;
@mobile-navbar-default-bg:			@navbar-default-bg;
@mobile-navbar-default-border:		@navbar-default-border;

// Navbar toggle
@mobile-navbar-default-toggle-bg:			@mobile-navbar-default-bg;
@mobile-navbar-default-toggle-hover-bg:		darken(@mobile-navbar-default-bg,15%);;
@mobile-navbar-default-toggle-icon-color:	@navbar-default-toggle-icon-bar-bg;

@morph-header-icon-color: #fff;
@morph-header-icon-color-hover: #A0A0A0; //hover / active

@morph-menuitem-color: #555;
@morph-menuitem-color-hover: darken(@morph-menuitem-color,15%);
@morph-submenu-bg-color: #E8E8E8;
@morph-submenuitem-color: #555;
@morph-submenuitem-color-hover: darken(@morph-submenuitem-color,15%);
@morph-submenu-dropdown-icon-color: #A4A4A4;
@morph-menuitem-icon: @morph-menuitem-color;
@morph-menuitem-icon-hover: @morph-menuitem-color-hover;
@morph-menuitem-border-color: #D9D9D9; //divider / seperation border

@morph-search-icon-color: #fff;
@morph-search-icon-color-hover: #FEE7D6;
@morph-search-field-border-color: rgba(255,255,255,.6);
@morph-search-field-text-color: #fff;

@morph-heading-background-color:darken(@mobile-navbar-default-bg,15%);
@morph-heading-text-color:#fff;
@morph-subheading-text-color:#D3D3DA;
@morph-heading-overlay-color:#000;
@morph-heading-overlay-opacity:0.2;

@morph-background-color:#f6f6f6;
@morph-background-overlay-color:#000;
@morph-background-overlay-opacity:0.5;

@morph-secondary-menu-bg-color: #fff;
@morph-secondary-menu-border-color: #e2e2e2;
@morph-secondary-menu-item-color: #7a7e86;
@morph-secondary-menu-item-color-hover: darken(@morph-secondary-menu-item-color,15%);

/* ********************************
	Mobile Header
******************************** */

.morph-main-menu-activator.menu-close { position:absolute; color:@morph-header-icon-color; font-size:18px; line-height:50px; padding-left:13px; padding-right:13px; left:0px; top:0px; text-align:center; cursor:pointer; transition:300ms;
	&:hover, &:focus, &:active { background-color:@mobile-navbar-default-toggle-hover-bg; }
}

header.header-mobile { z-index:602; position:relative; background-color:@mobile-navbar-default-bg; border-bottom:1px solid @mobile-navbar-default-border;
	.container.wrapper { color:@mobile-navbar-default-color; height:@mobile-navbar-height;
		.morph-main-menu-activator { position:relative; font-size:18px; line-height:@mobile-navbar-height; float:left; width:40px; text-align:center; margin-left:-(floor(@grid-gutter-width-xs/2)); transition:300ms; cursor:pointer;
			&:hover, &.active { background-color:@mobile-navbar-default-toggle-hover-bg; }
		}
		.brand { padding-left:10px; height:@mobile-navbar-height; float:left; display:inline-block; line-height:@mobile-navbar-height; font-size:16px; }
	}
}

/* ********************************
	Mobile Menu
******************************** */

/* Secondary Menu Button */
.morph-secondary-menu-button { position:absolute; bottom:11px; right:15px; width:30px; height:40px; transition:opacity .2s ease .2s, top 0s ease .2s;
	svg { position:absolute; z-index:99; left:8px; bottom:14px; width:18px; height:18px; margin:0; padding:0; cursor:pointer; fill:@morph-header-icon-color;
		transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -o-transform:rotate(90deg);
		&:hover { fill:@morph-header-icon-color-hover; }
	}
	&.morph-secondary-menu-button-active {
		svg { fill:@morph-header-icon-color-hover; }
	}
}

/* MAIN MENU */
.morph-menu-wrapper { position:relative; top:200px; width:270px; margin:0; padding:9px 0 0 0;
	/* prevent iOS scroll flicker */ -webkit-transform:translate3d(0,0,0);
	/* smooth scroll on touch devices */ -webkit-overflow-scrolling:touch; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -ms-transition:all .2s ease; transition:all .2s ease;
}

.morph-by-bonfire {
	ul { list-style-type:none; margin:0; padding:0;
		li { width:100%; list-style-type:none; margin:0; padding:0; text-align:left; overflow:hidden !important;
			a { width:100%; font-size:14px; font-weight:500; color:@morph-menuitem-color; margin:0; padding:6px 0 6px 21px; display:inline-block; text-decoration:none;
				&:active, &:hover { color:@morph-menuitem-color-hover; }
				//icons
				i { font-size:16px; width:40px; margin-left:-8px; text-align:center; display:inline-block; color:@morph-menuitem-icon;
					&:hover { color:@morph-menuitem-icon-hover; }
				}
			}
			&.border { // custom border
				a { padding-bottom:19px; margin-bottom:8px; border-bottom:1px solid @morph-menuitem-border-color; }
			}
		}
		.menu-item-has-children {
			a { margin:0 25px -1px 0; }
		}
	}
}

.morph-by-bonfire > ul > li:first-child { padding-top:5px; }
.morph-by-bonfire > ul > li:last-child { padding-bottom:5px; }

/* retina-specific menu item adjustment */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.morph-by-bonfire ul li a { margin:0; }
}

/* SUB-MENU */
.morph-by-bonfire {
	.menu { list-style:none; margin:0; padding:0;
		ul { list-style:none; margin:8px 0 8px 0; padding:0; display:none; background-color:@morph-submenu-bg-color; }
		ul.sub-menu { //submenu items
			li {
				a { width:100%; font-size:14px; font-weight:500; color:@morph-submenuitem-color; margin:0 0 0 0; padding:9px 0 8px 27px !important;
					&:active, &:hover { color:@morph-submenuitem-color-hover; }
				}
			}
		}
		li { position:relative; margin:0; padding:0; border:none; z-index:auto;
			span { display:inline-block; width:50px; height:38px; position:absolute; z-index:999; top:0; right:0; margin:0; padding:0; cursor:pointer; text-align:center; line-height:22px;
				svg { width:11px; height:11px; padding:0; margin:11px 2px 0 0; fill:@morph-submenu-dropdown-icon-color; pointer-events:none;
					-webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg);
					-webkit-transition:all .3s ease; -moz-transition:all .3s ease; -ms-transition:all .3s ease; transition:all .3s ease;
				}
			}
			span.morph-submenu-active {
				svg { -webkit-transform:rotate(270deg); -moz-transform:rotate(270deg); -ms-transform:rotate(270deg); transform:rotate(270deg); }
			}
		}
	}
}

/* retina-specific sub-menu item adjustment */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.morph-by-bonfire ul.sub-menu a { padding-top:8px !important; padding-bottom:7px !important; }
}

/* SECONDARY MENU */
.morph-secondary-menu-wrapper { position:absolute; z-index:9; top:-1000%; right:-3px; background-color:@morph-secondary-menu-bg-color; border:1px solid @morph-secondary-menu-border-color; margin:0; padding:7px 35px 6px 15px; opacity:0;
	-webkit-transition:opacity .15s ease, top 0s ease .15s; -moz-transition:opacity .15s ease, top 0s ease .15s; -ms-transition:opacity .15s ease, top 0s ease .15s; transition:opacity .15s ease, top 0s ease .15s;
	-webkit-box-shadow:0px 0px 2px 0px rgba(0,0,0,0.35); -moz-box-shadow:0px 0px 2px 0px rgba(0,0,0,0.35); box-shadow:0px 0px 2px 0px rgba(0,0,0,0.35);
	//&:after { position:absolute; width:100%; padding:1px 1px 0 1px; bottom:-2px; content:''; left:-1px; background-color:#BABABA; height:1px; }
	a { font-weight:500; font-size:13px; line-height:30px; color:@morph-secondary-menu-item-color; text-decoration:none; white-space:nowrap;
		&:hover { text-decoration:none; color:@morph-secondary-menu-item-color-hover; }
	}
	ul, li { list-style-type:none; margin:0; padding:0; }
}
.morph-secondary-menu-wrapper-active { top:-5px; opacity:1; }
@-webkit-keyframes morph-secondary {
	0% { -webkit-transform:translateY(-4px); }
	40% { -webkit-transform:translateY(2px); }
	100% { -webkit-transform:translateY(0); }
}
@keyframes morph-secondary {
	0% { transform:translateY(-4px); }
	40% { transform:translateY(2px); }
	100% { transform:translateY(0); }
}

/* SEARCH */
/* search button */
.morph-search-button { position:absolute; top:7px; left:229px; width:30px; height:40px; cursor:pointer; opacity:1;
	-webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); transform:scale(1);	
	-webkit-transition:opacity .3s ease, -webkit-transform .3s ease 0s, top 0s ease .0s; -moz-transition:opacity .3s ease, -moz-transform .3s ease 0s, top 0s ease .0s; -ms-transition:opacity .3s ease, -ms-transform .3s ease 0s, top 0s ease .0s; transition:opacity .3s ease, transform .3s ease 0s, top 0s ease .0s;
	svg { width:16px; height:16px; margin:12px 0 0 7px; padding:0; fill:@morph-search-icon-color;
		-webkit-transition:all .25s ease; -moz-transition:all .25s ease; -ms-transition:all .25s ease; transition:all .25s ease;
	}
	&:hover {
		svg { fill:@morph-search-icon-color-hover; }
	}
}
.morph-search-button-hidden { top:-1000px; opacity:0;
	-webkit-transform:scale(.5); -moz-transform:scale(.5); -ms-transform:scale(.5); transform:scale(.5);	
	-webkit-transition:opacity .3s ease, -webkit-transform .3s ease 0s, top 0s ease .3s; -moz-transition:opacity .3s ease, -moz-transform .3s ease 0s, top 0s ease .3s; -ms-transition:opacity .3s ease, -ms-transform .3s ease 0s, top 0s ease .3s; transition:opacity .3s ease, transform .3s ease 0s, top 0s ease .3s;
}

/* search form */
.morph-search-wrapper { position:absolute; top:-1000px; left:47px; width:210px; height:35px; margin:0; padding:0; display:block; opacity:0; border-bottom:2px solid @morph-search-field-border-color;
	-webkit-transform:scaleX(0); -moz-transform:scaleX(0); -ms-transform:scaleX(0); transform:scaleX(0); -webkit-transform-origin:top right; -moz-transform-origin:top right; -ms-transform-origin:top right; transform-origin:top right;
	-webkit-transition:opacity .2s ease, -webkit-transform .25s, top 0s ease .25s; -moz-transition:opacity .2s ease, -moz-transform .25s, top 0s ease .25s; -ms-transition:opacity .2s ease, -moz-transform .25s ,top 0s ease .25s; transition:opacity .2s ease, transform .25s, top 0s ease .25s;
	#searchform {
		input { width:180px; height:100%; font-size:23px; font-weight:400; color:@morph-search-field-text-color; padding:2px 30px 4px 0; margin:0; letter-spacing:-0.1px; border:0; background:none;
			-webkit-border-radius:0; -moz-border-radius:0; -ms-border-radius:0; border-radius:0;
			-webkit-transition:all .15s ease; -moz-transition:all .15s ease; -ms-transition:all .15s ease; transition:all .15s ease;
			&:focus { outline:0; }
		}
	}
}
.morph-search-wrapper-active { top:11px !important; opacity:1;
	-webkit-transform:scaleX(1); -moz-transform:scaleX(1); -ms-transform:scaleX(1); transform:scaleX(1);
	-webkit-transition:opacity .2s ease, -webkit-transform .25s, top 0s ease; -moz-transition:opacity .2s ease, -moz-transform .25s, top 0s ease; -ms-transition:opacity .2s ease, -ms-transform .25s, top 0s ease; transition:opacity .2s ease, transform .25s, top 0s ease;
}
/* searchform placeholder */
.morph-search-wrapper #searchform input::-webkit-input-placeholder { color:#7F848A !important; }
.morph-search-wrapper #searchform input:-moz-placeholder { color:#7F848A !important; }
.morph-search-wrapper #searchform input::-moz-placeholder { color:#7F848A !important; }
.morph-search-wrapper #searchform input:-ms-input-placeholder { color:#7F848A !important; }
/* search form close button wrapper */
.morph-search-close-wrapper { position:absolute; z-index:9999999; top:-1000px; left:237px; width:20px; height:20px; cursor:pointer; display:block; opacity:0;
	-webkit-transform:scale(.5); -moz-transform:scale(.5); -ms-transform:scale(.5); transform:scale(.5);
	-webkit-transition:opacity .3s ease, -webkit-transform .3s ease, top 0s ease .3s; -moz-transition:opacity .3s ease, -moz-transform .3s ease, top 0s ease .3s; -ms-transition:opacity .3s ease, -ms-transform .3s ease, top 0s ease .3s; transition:opacity .3s ease, transform .3s ease, top 0s ease .3s;
}
.morph-search-close-wrapper-active { top:20px; opacity:1;
	-webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); transform:scale(1);
	-webkit-transition:opacity .3s ease, -webkit-transform .3s ease, top 0s; -moz-transition:opacity .3s ease, -moz-transform .3s ease, top 0s; -ms-transition:opacity .3s ease, -ms-transform .3s ease, top 0s; transition:opacity .3s ease, transform .3s ease, top 0s;
}
/* search form close button */
.morph-search-close-button:before, .morph-search-close-button:after { content:''; display:block; width:14px; height:2px; margin:0; background-color:@morph-search-icon-color;
	-webkit-transition:all .2s ease; -moz-transition:all .2s ease; -ms-transition:all .2s ease; transition:all .2s ease;
}
.morph-search-close-button:before { -webkit-transform:translateY(6px) rotate(45deg); -moz-transform:translateY(6px) rotate(45deg); -ms-transform:translateY(6px) rotate(45deg); transform:translateY(6px) rotate(45deg); }
.morph-search-close-button:after { -webkit-transform:translateY(4px) rotate(-45deg); -moz-transform:translateY(4px) rotate(-45deg); -ms-transform:translateY(4px) rotate(-45deg); transform:translateY(4px) rotate(-45deg); }
.morph-search-close-wrapper:hover .morph-search-close-button:before, .morph-search-close-wrapper:hover .morph-search-close-button:after { background-color:@morph-search-icon-color-hover; }

/* BACKGROUND */
/* main background */
.morph-main-background { position:fixed; z-index:999999; top:0; left:0; width:270px; height:100%; margin:0; padding:0; background-color:@morph-background-color; display:block; left:-310px;
	-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.75); -moz-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.75); box-shadow:0px 0px 5px 0px rgba(0,0,0,0.75);
	-webkit-transition:all .4s cubic-bezier(.37,.15,.32,.94); -moz-transition:all .4s cubic-bezier(.37,.15,.32,.94); -ms-transition:all .4s cubic-bezier(.37,.15,.32,.94); transition:all .4s cubic-bezier(.37,.15,.32,.94);
}
.morph-main-background-active { left:0px; }

/* MAIN WRAPPER */
/* main wrapper */
.morph-main-wrapper { position:fixed; z-index:9999999; top:0; left:0; width:270px; height:100%; margin:0; padding:0; color:#767676; overflow:hidden !important; left:-310px;
	-webkit-transition:all .4s cubic-bezier(.37,.15,.32,.94); -moz-transition:all .4s cubic-bezier(.37,.15,.32,.94); -ms-transition:all .4s cubic-bezier(.37,.15,.32,.94); transition:all .4s cubic-bezier(.37,.15,.32,.94);
}
.morph-main-wrapper-active { left:0px; }
/* main inner wrapper */
.morph-main-wrapper-inner { position:relative; width:287px; height:100%; overflow-y:scroll !important; overflow-x:hidden;
	/* smooth scroll on iOS */ -webkit-overflow-scrolling:touch;
}
/* content inner */
.morph-main { /* 100.1% to get around mobile Safari's schrinking address bar conflict */ height:100.1%; }
/* give images/videos/embeds max width */
.morph-main img, .morph-main iframe, .morph-main object, .morph-main embed { max-width:100%; height:auto; }
/* sidebar background overlay */
.morph-background-overlay { position:fixed; z-index:99999; top:-1000%; left:0; right:0; width:100%; background-color:@morph-background-overlay-color; opacity:0;
	/* 110% height to avoid iOS browser scroll mishap */ height:110%;
	-webkit-transition:top 0s ease .35s, opacity .35s ease; -moz-transition:top 0s ease .35s, opacity .35s ease; -ms-transition:top 0s ease .35s, opacity .35s ease; transition:top 0s ease .35s, opacity .35s ease;
}
.morph-background-overlay-active { top:0; opacity:@morph-background-overlay-opacity;	
	-webkit-transition:top 0s ease 0s, opacity .35s ease; -moz-transition:top 0s ease 0s, opacity .35s ease; -ms-transition:top 0s ease 0s, opacity .35s ease; transition:top 0s ease 0s, opacity .35s ease;
}

/* HEADING CONTENT */
/* joint styles */
.morph-heading-wrapper, .morph-heading-overlay, .morph-heading-image { position:absolute; width:100%; height:200px; margin:0; padding:0; background-color:@morph-heading-background-color; }
/* heading wrapper */
.morph-heading-wrapper { z-index:9999999999; display:table; }
.morph-heading-inner { display:table-cell; vertical-align:bottom; padding:0 60px 18px 18px; }
/* heading text */
.morph-heading-text { width:100%; color:@morph-heading-text-color; display:block; margin:0 0 8px 0; font-weight:500; font-size:15px; line-height:15px; }
/* subheading text */
.morph-subheading-text { width:100%; display:block; margin:-6px 0 0 0; font-weight:500; font-size:12px; line-height:13px; color:@morph-subheading-text-color; }
/* heading overlay */
.morph-heading-overlay { z-index:999999999; background-color:@morph-heading-overlay-color; opacity:@morph-heading-overlay-opacity; }
/* heading image */
.morph-heading-image { z-index:99999999; background-size:cover; background-repeat:repeat; }

/* MISC */
.morph-absolute { position:absolute; }

/* WORDPRESS TOOLBAR */
.wp-toolbar-active { margin-top:32px; }
/* for the thicker, mobile admin bar */
@media screen and (max-width: 782px) {
	.wp-toolbar-active { margin-top:46px; }
	#wpadminbar { position: fixed !important; }
}
/* if WordPress amin bar active, keep it above everything else */
#wpadminbar { z-index:9999999999999999999999999999; }

@media (max-width: 320px) {
	.morph-main-wrapper-inner { width:247px; }
	.morph-menu-wrapper { width:230px; }
	.morph-main-background { width:230px; }
	.morph-main-wrapper { width:230px; }
}