/* Swipebox v3.0 for YSD Basic */

@swipebox-shadow-color: #656565;
@swipebox-overlay-color: #0d0d0d;
@swipebox-topbar-color: #000;

html.swipebox-html { overflow:hidden; }
html.swipebox-html.swipebox-touch { overflow:hidden!important; }

#swipebox-overlay { width:100%; height:100%; position:fixed; top:0; left:0; z-index:99999!important; overflow:hidden; user-select:none;
	img { border: none!important; }
}
#swipebox-container { position:relative; width:100%; height:100%; }
#swipebox-slider { transition:transform 0.4s ease; height:100%; left:0; top:0; width:100%; white-space:nowrap; position:absolute; display:none; cursor:pointer;
	.slide { height:100%; width:100%; line-height:1px; text-align:center; display:inline-block;
		&:before { content:""; display:inline-block; height:50%; width:1px; margin-right:-1px; }
		img, .swipebox-video-container, .swipebox-inline-container { display:inline-block; max-height:100%; max-width:100%; margin:0; padding:0; width:auto; height:auto; vertical-align:middle; }
		.swipebox-video-container { background:none; max-width:1140px; max-height:100%; width:100%; padding:5%; box-sizing:border-box;
			.swipebox-video { width:100%; height:0; padding-bottom:56.25%; overflow:hidden; position:relative;
				iframe { width:100%!important; height:100%!important; position:absolute; top:0; left:0; }
			}
		}
	}
	.slide-loading { }
}

#swipebox-bottom-bar, #swipebox-top-bar { transition:0.5s; position: absolute; left:0; z-index:999; height:50px; width:100%; }
#swipebox-bottom-bar { bottom:-50px;
	&.visible-bars { transform:translate3d(0,-50px,0); }
}
#swipebox-top-bar { top:-50px;
	&.visible-bars { transform:translate3d(0,50px,0); }
}
#swipebox-title { display:block; width:100%; text-align:center; }
#swipebox-prev, #swipebox-next, #swipebox-close { border:none!important; text-decoration:none!important; cursor:pointer; width:50px; height:50px; top:0;
	&:before { font-family:FontAwesome; color:#fff; font-size:28px; text-align:center; width:100%; display:block; }
}
#swipebox-arrows { display:block; margin:0 auto; width:100%; height:50px; }
#swipebox-prev { float:left;
	&:before { content:"\f053"; }
}
#swipebox-next { float:right;
	&:before { content:"\f054"; }
}
#swipebox-close { top:0; right:0; position:absolute; z-index:9999;
	&:before { content:"\f00d"; }
}
.swipebox-no-close-button #swipebox-close { display: none; }
#swipebox-prev, #swipebox-next {
	&.disabled { opacity: 0.3; }
}
.swipebox-no-touch {
	#swipebox-overlay.rightSpring #swipebox-slider { animation:rightSpring 0.3s; }
	#swipebox-overlay.leftSpring  #swipebox-slider { animation:leftSpring 0.3s; }
}
.swipebox-touch {
	#swipebox-container {
		&:before, &:after { backface-visibility:hidden; transition:all .3s ease; content : ' '; position:absolute; z-index:999; top:0; height:100%; width:20px; opacity:0; }
		&:before { left:0; box-shadow:inset 10px 0px 10px -8px @swipebox-shadow-color; }
		&:after { right:0; box-shadow: inset -10px 0px 10px -8px @swipebox-shadow-color; }
	}
	#swipebox-overlay.leftSpringTouch #swipebox-container {
		&:before { opacity:1; }
	}
	#swipebox-overlay.rightSpringTouch #swipebox-container {
		&:after { opacity:1; }
	}
}

@keyframes rightSpring {
	0% { left:0; }
	50% { left:-30px; }
	100% { left:0; }
}

@keyframes leftSpring {
	0% { left:0; }
	50% { left:30px; }
	100% { left:0; }
}

/* Skin 
--------------------------*/
#swipebox-overlay { background:@swipebox-overlay-color; }
#swipebox-bottom-bar, #swipebox-top-bar { text-shadow:1px 1px 1px black; background:@swipebox-topbar-color; opacity:0.95; }
#swipebox-top-bar { color:white!important; font-size:15px; line-height:43px; font-family:Helvetica, Arial, sans-serif; }

/* BUTTONS IN MIDDLE */
#swipebox-bottom-bar { background:transparent!important; bottom:inherit; top:50%; }